@charset "UTF-8";
/* CSS Document */
* {box-sizing: border-box;} /* css3盒子模型 */
body, ul, ol, dl, li, dd, h1, h2, h3, h4, h5, h6, p, input { margin: 0 }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; font-family: "Microsoft YaHei"; }
img { border: none }
input, button, textarea, select {
*font-size: 100%; border: none; outline: none;}
body { background: #fff; color: #5e5e5e; font: 12px/1.5 Microsoft YaHei, SimSun, Arial; }
ul, ol { list-style: none; padding: 0 }
table { border-collapse: collapse; border-spacing: 0 }
/*默认a标签样式*/
a,i { color: #666; text-decoration: none; }
/* a:hover { color:#999; } */
a:hover { color: #c9394a; /*text-decoration: underline;*/ }
a:active { color: #666; }
/*浮动和清除浮动*/

.clear { zoom: 1 }
.clear:after { content: ""; display: block; height: 0; visibility: visible; clear: both } /*显示隐藏*/

/*表格table和td有边框*/
.boder_tl { border-top: 1px solid #ccc; border-left: 1px solid #ccc; }
.boder_tl td { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_bl { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; }
.boder_bl td { border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_tr { border-top: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_tr td { border-bottom: 1px solid #ccc; border-left: 1px solid #ccc; }
.boder_br { border-bottom: 1px solid #ccc; border-right: 1px solid #ccc; }
.boder_br td { border-top: 1px solid #ccc; border-left: 1px solid #ccc; }
.txt_center { text-align: center; }/*表格table和tr有边框*/
.boder_ltr_trborder { border: 1px solid #ccc; border-bottom: none; }
.boder_ltr_trborder tr { border-bottom: 1px solid #ccc; }